@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

    @theme{
        --color-rpg-blue-100: #009DFF;
        --color-rpg-blue-200: #142545;
        --color-rpg-grey-100: #B8AAAA;
        --color-rpg-grey-200: #978E8E;
        --color-rpg-white-100: #EAF7FF;
        --color-rpg-red-100: #DA3E3E;
        --color-rpg-yellow-100: #AF9C10;

        --font-rpg-default: "Inter", serif;
    }

    body {
        background-color: #294765; /* Replace 'lightblue' with your desired color name, hex code, RGB, or HSL value */
    }
